<div class="column">
<nav class="panel">
<p class="panel-header"> Who to Follow</p>

<div class="panel-black">
<article class="media">
<div class="media-left">
<figure class="image is-32x32">
<img src="https://bulma.io/images/placeholders/64x64.png">
</figure>
</div>
<div class="media-content">
<div class="content">
<p>
<strong>Railon Acosta</strong>
<small>@webcrunch</small>
</p>
</div>
</div>
</article>
</div>

<div class="panel-black">
<article class="media">
<div class="media-left">
<figure class="image is-32x32">
<img src="https://bulma.io/images/placeholders/64x64.png">
</figure>
</div>
<div class="media-content">
<div class="content">
<p>
<strong>Railon Acosta</strong>
<small>@webcrunch</small>
</p>
</div>
</div>
</article>
</div>

<div class="panel-black">
<article class="media">
<div class="media-left">
<figure class="image is-32x32">
<img src="https://bulma.io/images/placeholders/64x64.png">
</figure>
</div>
<div class="media-content">
<div class="content">
<p>
<strong>Railon Acosta</strong>
<small>@webcrunch</small>
</p>
</div>
</div>
</article>
</div>

</nav>

</div>